<!DOCTYPE html>

<p>Dear participant ,</p>
<p>Thankyou for regestering with OnePointZeroOne . We have recieved your application and it will shortly get screened.</p>
<p>Keep visiting our website for regular updates . Feel free to write us at <a href="mailto:opzomp@gmail.com">opzomp@gmail.com</a> for suggestions or concerns . Keep Shining !!</p>
<br><br><br>


<p><strong><span style="text-decoration: underline;">Rules and T&C:</span></strong></p>
<p>a) information shared by participants will be treated as confidential .</p><br>

<p>b)Competetion starts - 22nd April 2020 00:00:00 hrs</p>
  <p> Competetion ends - 5th May 2020 23:59:59 hrs</p>
  <p> Results - 15th may 2020(Tentative)</p><br>

<p>c) Forged , Plagarised or any form of copied scripts will lead to disqualification . The liability legal (or Otherwise shall lie strictly on the participant)</p><br>

<p>d) All written content submitted shall become a property of socort siblings Technology Pvt. Ltd.</p><br>

<p>e) All rights reserver by Socort Siblings Technology Pvt . Ltd.</p><br>



</html>